mat-card {
  max-width: 650px;
  margin: 2rem auto;
  padding: 2rem 1.5rem;
}
h1,
h2 {
  margin-bottom: 1rem;
}
.quiz-radio {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.program-result {
  margin-top: 1rem;
}
